In [2]:
#project
import pandas as pd 
import numpy as np
card=pd.read_csv('ccard.csv')
card.head()

   index                   City       Date  Card Type Exp Type Gender  Amount
0      0           Delhi, India  29-Oct-14       Gold    Bills      F   82475
1      1  Greater Mumbai, India  22-Aug-14   Platinum    Bills      F   32555
2      2       Bengaluru, India  27-Aug-14     Silver    Bills      F  101738
3      3  Greater Mumbai, India  12-Apr-14  Signature    Bills      F  123424
4      4       Bengaluru, India   5-May-15       Gold    Bills      F  171574

In [3]:
card.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26052 entries, 0 to 26051
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      26052 non-null  int64
 1   City       26052 non-null  object
 2   Date       26052 non-null  object
 3   Card Type  26052 non-null  object
 4   Exp Type   26052 non-null  object
 5   Gender     26052 non-null  object
 6   Amount     26052 non-null  int64
dtypes: int64(2), object(5)
memory usage: 1.4+ MB

In [4]:
card.isnull().sum()

index        0
City         0
Date         0
Card Type    0
Exp Type     0
Gender       0
Amount       0
dtype: int64

In [5]:
card.duplicated().sum()

0

In [6]:
card.describe()

              index         Amount
count  26052.000000   26052.000000
mean   13025.500000  156411.537425
std     7520.708943  103063.254287
min        0.000000    1005.000000
25%     6512.750000   77120.250000
50%    13025.500000  153106.500000
75%    19538.250000  228050.000000
max    26051.000000  998077.000000

In [7]:
card.drop('index',inplace=True,axis=1)

In [8]:
card.tail(10)

                   City       Date  Card Type Exp Type Gender  Amount
26042  Hyderabad, India  15-Jan-15     Silver   Travel      M  194550
26043  Hyderabad, India  15-May-15     Silver   Travel      F  280335
26044    Kolkata, India  14-Oct-14       Gold   Travel      M  243249
26045    Kolkata, India  26-Feb-14  Signature   Travel      F  170049
26046  Hyderabad, India   9-Oct-13  Signature   Travel      M  198903
26047    Kolkata, India  22-Jun-14     Silver   Travel      F  128191
26048       Pune, India   3-Aug-14  Signature   Travel      M  246316
26049  Hyderabad, India  16-Jan-15     Silver   Travel      M  265019
26050     Kanpur, India  14-Sep-14     Silver   Travel      M   88174
26051  Hyderabad, India  19-Oct-13  Signature    Bills      M  184410

In [9]:
card.shape

(26052, 6)

In [10]:
card.columns

Index(['City', 'Date', 'Card Type', 'Exp Type', 'Gender', 'Amount'], dtype='object')

In [11]:
# Basic statistical info
card.describe().T

,count,mean,std,min,25%,50%,75%,max
Amount,26052.0,156411.537425,103063.254287,1005.0,77120.25,153106.5,228050.0,998077.0

In [12]:
# Basic statistical info of object columns
card.describe(include="object").T

           count unique               top   freq
City       26052    986  Bengaluru, India   3552
Date       26052    600         20-Sep-14     65
Card Type  26052      4            Silver   6840
Exp Type   26052      6              Food   5463
Gender     26052      2                 F  13680

In [13]:
# Changing Dtype of date and Extracting Month name, day name, weekday from Date 

from datetime import datetime as dt
card["Date"]=pd.to_datetime(card["Date"])
card["Month"]=card["Date"].dt.month_name()
card["Day"]=card["Date"].dt.day_name()
card.sample(2)

C:\Users\VAISHNAVI R\AppData\Local\Temp\ipykernel_10944\4242937625.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  card["Date"]=pd.to_datetime(card["Date"])

,City,Date,Card Type,Exp Type,Gender,Amount,Month,Day
5167,"Bengaluru, India",2015-03-14,Silver,Food,F,265386,March,Saturday
1706,"Delhi, India",2015-04-25,Gold,Food,M,175390,April,Saturday

In [14]:
# Lets split country and city 
card["City"]=card["City"].str.split(",",expand=True)[0]
card.sample(2)

            City       Date Card Type Exp Type Gender  Amount   Month     Day
10755      Delhi 2014-08-01      Gold    Bills      M  124630  August  Friday
6380   Ahmedabad 2014-05-25    Silver     Fuel      M  206505     May  Sunday

In [23]:
# Checking unique values
for i in card.columns:
    print(i,"-------",card[i].unique())

City ------- ['Delhi' 'Greater Mumbai' 'Bengaluru' 'Ahmedabad' 'Markapur' 'Mavoor'
 'Sillod' 'Nainital' 'Laharpur' 'Shenkottai' 'Neyveli (TS)' 'Kapadvanj'
 'Arambagh' 'Thana Bhawan' 'Kancheepuram' 'Sojat' 'Karjat' 'Mohali'
 'Narayanpet' 'Bhavnagar' 'Viluppuram' 'Jamalpur' 'Udaipurwati' 'Palanpur'
 'Muzaffarpur' 'Taranagar' 'Ambikapur' 'Mundi' 'Padrauna' 'Vijayapura'
 'Vrindavan' 'Byasanagar' 'Mudhol' 'Sohna' 'Pune' 'Lakheri' 'Jehanabad'
 'Shegaon' 'Shikarpur Bulandshahr' 'Dalli-Rajhara' 'Mapusa'
 'Uthamapalayam' 'Nasirabad' 'Kapurthala' 'Anand' 'Arwal' 'Nanded-Waghala'
 'Nilambur' 'Anjar' 'Hubli-Dharwad' 'Jind' 'Koratla' 'Chalakudy' 'Lahar'
 'Ramanathapuram' 'Brahmapur' 'Rahuri' 'Hindupur' 'Ponnani' 'Rajpipla'
 'Pattukkottai' 'Tenali' 'Aizawl' 'Raayachuru' 'Tura' 'Srivilliputhur'
 'Siana' 'Nepanagar' 'Nagaon' 'Oddanchatram' 'Zira' 'Dhuri'
 'Kalyan-Dombivali' 'Mahuva' 'Punch' 'Rajampet' 'Mandvi' 'Nahan' 'Shahdol'
 'Kochi' 'Neemuch' 'Shahabad' 'Mancherial' 'Sirhind Fatehgarh Sahib'
 'Surat' 'Zaidpur' 'Malout' 'Pipar City' 'Khambhat' 'Rabkavi Banhatti'
 'Balaghat' 'Raghunathganj' 'Ramdurg' 'Imphal' 'Raigarh' 'Rajapalayam'
 'Mattannur' 'Narwana' 'Akot' 'Udaipur' 'Murwara (Katni)' 'Cuttack'
 'Warora' 'Tiruchendur' 'Kasaragod' 'Vyara' 'Periyasemur'
 'Nandivaram-Guduvancheri' 'Madhubani' 'Yellandu' 'Umbergaon' 'Nimbahera'
 'Seoni' 'Ambejogai' 'Mokokchung' 'Shahade' 'Pithoragarh' 'Maner'
 'Firozabad' 'Kollam' 'Jalandhar' 'Barpeta' 'Raurkela' 'Limbdi' 'Mokameh'
 'Taki' 'Kaithal' 'Medinipur' 'Erode' 'Mahemdabad' 'Sawai Madhopur'
 'Malpura' 'Samastipur' 'Jagdalpur' 'Achalpur' 'Ahmednagar' 'Shikohabad'
 'Mungeli' 'Udhampur' 'Thiruvananthapuram' 'Padra' 'Losal' 'Singrauli'
 'Naugawan Sadat' 'Dimapur' 'Sindhagi' 'Palakkad' 'Peddapuram' 'Rewa'
 'Barnala' 'Sironj' 'Fatehabad' 'Pachora' 'Vikramasingapuram' 'Mangaluru'
 'Palwal' 'Nabarangapur' 'Ballari' 'Vedaranyam' 'Sagar' 'Sherkot'
 'Navi Mumbai' 'Manjlegaon' 'Thakurdwara' 'Jagraon' 'Shikaripur' 'Bodhan'
 'Bhadrak' 'Nathdwara' 'Ongole' 'Panna' 'Sardarshahar' 'Kendujhar'
 'Nehtaur' 'Pratapgarh' 'Tohana' 'Jangaon' 'Sitapur' 'Diphu' 'Pavagada'
 'Umred' 'Kadi' 'Mandapeta' 'Sunabeda' 'Sira' 'Chirmiri' 'Palacole'
 'Siddipet' 'Aligarh' 'Bellampalle' 'Udhagamandalam' 'Petlad' 'Indore'
 'Kozhikode' 'Baripada Town' 'Pilkhuwa' 'Hapur' 'Nawabganj' 'Sadabad'
 'Arrah' 'Faridabad' 'Jammalamadugu' 'Pulgaon' 'Malavalli' 'Naidupet'
 'Pathri' 'Jalandhar Cantt.' 'Kharar' 'Jamnagar' 'Yavatmal' 'Itarsi'
 'Sirohi' 'Ponnur' 'Upleta' 'Afzalpur' 'Amroha' 'Bathinda' 'Gwalior'
 'Tilhar' 'Bharatpur' 'Hajipur' 'Korba' 'Vijayawada' 'Madhupur' 'Pilani'
 'Thrissur' 'Visakhapatnam' 'Taliparamba' 'Mehkar' 'Repalle' 'Nandyal'
 'Sadasivpet' 'Belagavi' 'Ramngarh' 'Nanjikottai' 'Porbandar' 'Mahasamund'
 'Khair' 'Rudrapur' 'Roorkee' 'Makhdumpur' 'Venkatagiri' 'Chikkamagaluru'
 'Jodhpur' 'Rishikesh' 'Kottayam' 'Nagina' 'Dehri-on-Sone' 'Morshi'
 'Vadakkuvalliyur' 'Baleshwar Town' 'Sahibganj' 'Sasaram' 'Sidlaghatta'
 'Tenkasi' 'Sonipat' 'Talikota' 'Samana' 'Anantnag' 'Silchar' 'Gurgaon'
 'Palghar' 'Kendrapara' 'Mahesana' 'Shajapur' 'Panruti' 'Najibabad'
 'Chatra' 'Buxar' 'Jhansi' 'Terdal' 'Loni' 'Tadpatri' 'Mangrol'
 'Shrirampur' 'Ladwa' 'Mangrulpir' 'Nuzvid' 'Sihor' 'Jagtial' 'Sadulpur'
 'Sheikhpura' 'Perumbavoor' 'Dharmavaram' 'Tiptur' 'Bikaner' 'Sibsagar'
 'Bhagalpur' 'Deesa' 'Tumkur' 'Maddur' 'Pasan' 'Raipur' 'Hoshiarpur'
 'Navsari' 'Bhubaneswar' 'Sankari' 'Bokaro Steel City' 'Sivaganga'
 'Bharuch' 'Sundargarh' 'Raver' 'Kurnool' 'Barbil' 'Chilakaluripet'
 'Sanand' 'Sailu' 'Puliyankudi' 'Pandhurna' 'Periyakulam' 'Muddebihal'
 'Washim' 'Shrigonda' 'Sangli' 'Vasai-Virar' 'Jorhat' 'Dehradun'
 'Kayamkulam' 'Lalsot' 'Gokak' 'Panipat' 'Hazaribag' 'Paschim Punropara'
 'Renukoot' 'Usilampatti' 'Sidhi' 'Rohtak' 'Phagwara' 'Mahalingapura'
 'Saunda' 'Ratnagiri' 'Chennai' 'Farooqnagar' 'Kodungallur' 'Paravoor'
 'Uchgaon' 'Guntur' 'Nizamabad' 'Parli' 'Bhilwara' 'Karimnagar'
 'Shamsabad Agra' 'Rajula' 'Bankura' 'Khanna' 'Manglaur' 'Rae Bareli'
 'Madikeri' 'Udgir' 'Ottappalam' 'Shahbad' 'Nowgong' 'Robertsganj' 'Kalpi'
 'Risod' 'Mainaguri' 'Sidhpur' 'Shirur' 'Kolar' 'Manmad' 'Deoghar'
 'Nadbai' 'Cherthala' 'Dharmanagar' 'Sangrur' 'Viramgam' 'Manavadar'
 'Narnaul' 'Lal Gopalganj Nindaura' 'Palwancha' 'Perambalur' 'Rayagada'
 'Jatani' 'Koyilandy' 'Manwath' 'Nidadavole' 'Aurangabad' 'Rajakhera'
 'Rajahmundry' 'Phusro' 'Noida' 'Nedumangad' 'Tharad' 'Sendhwa' 'Ranaghat'
 'Batala' 'Machilipatnam' 'Suar' 'Mudalagi' 'Mahnar Bazar' 'Pusad'
 'Patiala' 'Madurai' 'Kot Kapura' 'Visnagar' 'Pehowa' 'Nagaur'
 'Nagapattinam' 'Bheemunipatnam' 'Tarn Taran' 'Sattur' 'Nashik'
 'Anjangaon' 'Sattenapalle' 'Sainthia' 'Hisar' 'Shujalpur'
 'North Lakhimpur' 'Hansi' 'Chittur-Thathamangalam' 'Karur' 'Pipariya'
 'Sikandra Rao' 'Talaja' 'Srinagar' 'Sanduru' 'Chandausi'
 'Palasa Kasibugga' 'Kamareddy' 'Jamui' 'Madanapalle' 'Rayachoti'
 'Sankarankoil' 'Murtijapur' 'Wai' 'Savarkundla' 'Agra' 'Alappuzha'
 'Nadiad' 'Pattamundai' 'Zirakpur' 'Thiruvarur' 'Rawatbhata' 'Wankaner'
 'New Delhi' 'Pandharpur' 'Memari' 'Ramachandrapuram' 'Ratangarh'
 'Thanesar' 'Lunglei' 'Mansa' 'Puranpur' 'Nabadwip' 'English Bazar'
 'Yawal' 'Puttur' 'Adityapur' 'Thiruvallur' 'Kannur' 'Pithampur'
 'Tharamangalam' 'Adoni' 'Gooty' 'Dumka' 'Tasgaon' 'Marmagao' 'Shahpur'
 'Lucknow' 'Arakkonam' 'Palladam' 'Ajmer' 'Amravati' 'Ujjain' 'Sindhnur'
 'Vikarabad' 'Gurdaspur' 'Satana' 'Tiruvannamalai' 'Lakhimpur'
 'Tilda Newra' 'Naila Janjgir' 'Darbhanga' 'Lanka' 'Hyderabad' 'Sonepur'
 'Rasipuram' 'Wardha' 'Moga' 'Perinthalmanna' 'Amalner' 'Jabalpur'
 'Dibrugarh' 'Tumsar' 'Vadodara' 'Karnal' 'Amreli' 'Wadgaon Road'
 'Talegaon Dabhade' 'Rawatsar' 'Tanuku' 'Bhadrachalam' 'Vadipatti'
 'Yerraguntla' 'Robertson Pet' 'Neyyattinkara' 'Charkhi Dadri' 'Dhanbad'
 'Musabani' 'Mhow Cantonment' 'Talcher' 'Nangal' 'Keshod' 'Tuensang'
 'Naharlagun' 'Bhongir' 'Sambhal' 'Sehore' 'Patti' 'Malappuram' 'Porsa'
 'Sasvad' 'Chirala' 'Tanda' 'Patan' 'Nagpur' 'Rajagangapur' 'Nawanshahr'
 'Wadi' 'Mandideep' 'Sholingur' 'Gudivada' 'Bhatapara' 'Ichalkaranji'
 'Revelganj' 'Yanam' 'Akola' 'Ramnagar' 'Alirajpur' 'Gohana' 'Lakhisarai'
 'Sikandrabad' 'Maihar' 'Dhenkanal' 'Vandavasi' 'Sugauli' 'Firozpur'
 'Umreth' 'Gobindgarh' 'Jamshedpur' 'Sircilla' 'Yemmiganur' 'Karimganj'
 'Sitamarhi' 'Chirkunda' 'Pollachi' 'Mussoorie' 'Saharsa' 'Yevla' 'Mandla'
 'Pappinisseri' 'Noorpur' 'Rajsamand' 'Paramakudi' 'Pihani' 'Sivakasi'
 'Manuguru' 'Shivpuri' 'Sarangpur' 'Ranavav' 'Medininagar (Daltonganj)'
 'Arsikere' 'Jhargram' 'Ujhani' 'Rajgarh (Churu)' 'Neem-Ka-Thana'
 'Narsinghgarh' 'Phalodi' 'Nagarkurnool' 'Bhainsa' 'Nagari' 'Jammu'
 'Pudukkottai' 'Amalapuram' 'Sangole' 'Mandi' 'Yadgir' 'Panvel'
 'Lingsugur' 'Goalpara' 'Kolkata' 'Kalimpong' 'Vijainagar Ajmer' 'Tonk'
 'Sambalpur' 'Malegaon' 'Merta City' 'Adilabad' 'Tiruchirappalli'
 'Bettiah' 'Titlagarh' 'Mathura' 'Gumia' 'Muvattupuzha' 'Vellakoil'
 'Modasa' 'Phaltan' 'Rath' 'Giridih' 'Nanpara' 'Rajkot' 'Karwar'
 'Tikamgarh' 'Tirukkoyilur' 'Firozpur Cantt.' 'Baramula' 'Kohima'
 'Agartala' 'Salem' 'Nilanga' 'Tekkalakote' 'Umarkhed' 'Utraula'
 'Modinagar' 'Bhilai Nagar' 'Manvi' 'Sankeshwara' 'Balangir' 'Suratgarh'
 'Peringathur' 'Pathankot' 'Ozar' 'Narsipatnam' 'Rajnandgaon' 'Begusarai'
 'Bilaspur' 'Gobichettipalayam' 'Etawah' 'Supaul' 'Araria' 'Nabha'
 'Santipur' 'Thoubal' 'Satara' 'Lakshmeshwar' 'Haldwani-cum-Kathgodam'
 'Ramgarh' 'Nellore' 'Nagda' 'Tuljapur' 'Varanasi' 'Shimla' 'Sumerpur'
 'Saundatti-Yellamma' 'Bhabua' 'Mulbagal' 'Sopore' 'Tiruvethipuram'
 'Palia Kalan' 'Sangaria' 'Alipurduar' 'Shoranur' 'Siwan' 'Gopalganj'
 'Lachhmangarh' 'Pilibhit' 'Vidisha' 'Margao' 'Manendragarh' 'Sangamner'
 'Gangarampur' 'Vaijapur' 'Nokha' 'Raisen' 'Thirumangalam' 'Surandai'
 'Raghogarh-Vijaypur' 'Dhoraji' 'Gadwal' 'Ladnu' 'Purnia' 'Madhugiri'
 'Sheopur' 'Makrana' 'Kunnamkulam' 'Rampur' 'Purulia' 'Athni' 'Gudur'
 'Rasra' 'Vaniyambadi' 'Wokha' 'Valparai' 'Valsad' 'Hardoi ' 'Karaikal'
 'Morena' 'Kovvur' 'Bahadurgarh' 'Baharampur' 'Suri' 'Nakodar' 'Sedam'
 'Thiruvalla' 'Pathanamthitta' 'Sirsi' 'Soro' 'Zamania' 'Rajgir'
 'Masaurhi' 'Darjiling' 'Ganjbasoda' 'Bhimavaram' 'Tinsukia' 'Panchkula'
 'Kakinada' 'Adoor' 'Gaya' 'Vita' 'Ramganj Mandi' 'Tiruchengode'
 'Sri Madhopur' 'Veraval' 'Tuni' 'Tindivanam' 'Latur' 'Madhepura'
 'Malerkotla' 'Dumraon' 'Tiruppur' 'Tundla' 'Vinukonda' 'Tandur'
 'Thanjavur' 'Partur' 'Shahjahanpur' 'Sihora' 'Shivamogga' 'Raiganj'
 'Mihijam' 'Ramanagaram' 'Faridkot' 'Anakapalle' 'Punalur' 'Nellikuppam'
 'Nirmal' 'Forbesganj' 'Purna' 'Habra' 'Bapatla' 'Patratu' 'Salur'
 'Nanjangud' 'Chittoor' 'Virudhunagar' 'Sardhana' 'Ratlam' 'Port Blair'
 'Nalbari' 'Surapura' 'Morvi' 'Sabalgarh' 'Shirdi' 'Mavelikkara'
 'Rampurhat' 'Mahe' 'Talode' 'Tiruttani' 'Tamluk' 'Murshidabad'
 'Mandamarri' 'Parlakhemundi' 'Thane' 'Bongaigaon City' 'Yamunanagar'
 'Rewari' 'Sikar' 'Ranchi' 'Sonamukhi' 'Zunheboto' 'Mysore' 'Hardwar'
 'Siruguppa' 'Varkala' 'Sinnar' 'Pinjore' 'Nautanwa' 'Motihari' 'Arvi'
 'Vadalur' 'Sagara' 'Palani' 'Meerut' 'Vizianagaram' 'Guntakal' 'Sahaswan'
 'Sagwara' 'Simdega' 'Tirunelveli' 'Osmanabad' 'Parvathipuram'
 'Raisinghnagar' 'Radhanpur' 'Sunam' 'Dhubri' 'Hugli-Chinsurah'
 'Sultanpur' 'Nawada' 'Bhuj' 'Ankleshwar' 'Balurghat' 'Guwahati'
 'Lunawada' 'Namakkal' 'Attingal' 'Davanagere' 'Vatakara' 'Kanhangad'
 'Sathyamangalam' 'Mandsaur' 'Udupi' 'Chandigarh' 'Bargarh'
 'Shahabad Rampur' 'Chaibasa' 'Ashok Nagar' 'Ludhiana' 'Thuraiyur' 'Soron'
 'Saharanpur' 'Sangareddy' 'Shamli' 'Salaya' 'Shillong' 'Alwar'
 'Tadepalligudem' 'Tiruvuru' 'Mankachar' 'Eluru' 'Thangadh' 'Malkapur'
 'Ranibennur' 'Proddatur' 'Jharsuguda' 'Pakaur' 'Parbhani' 'Vapi' 'Tezpur'
 'Pernampattu' 'Bahraich' 'Virudhachalam' 'Aruppukkottai'
 'Tirukalukundram' 'Orai' 'Amritsar' 'Nagercoil' 'Vadnagar' 'Shahpura'
 'Muktsar' 'Kavali' 'Ranipet' 'Nargund' 'Tirupathur' 'Pedana' 'Wadhwan'
 'Narasaraopet' 'Srikakulam' 'Nawapur' 'Unnao' 'Pilibanga' 'Satna'
 'Kagaznagar' 'Raxaul Bazar' 'Pithapuram' 'Naihati' 'Rajpura' 'Mandya'
 'Malaj Khand' 'Panaji' 'Shahabad Hardoi' 'Pandharkaoda' 'Azamgarh'
 'Phulabani' 'Nandurbar' 'Sirkali' 'Dhule' 'Seohara' 'Sandila'
 'Fatehpur Sikri' 'Rayadurg' 'Lonavla' 'Bhopal' 'Tarikere' 'Seoni-Malwa'
 'Nelamangala' 'Kandukur' 'Suryapet' 'Sanawad' 'Palitana' 'Moradabad'
 'Safidon' 'Pen' 'Theni Allinagaram' 'Pandua' 'Uravakonda' 'Allahabad'
 'Rupnagar' 'Udumalaipettai' 'Ramagundam' 'Lalitpur' 'Kharagpur' 'Medak'
 'Bobbili' 'Katihar' 'Kadapa' 'Munger' 'Sirsa' 'Kashipur' 'Savner' 'Uran'
 'Narasapuram' 'Warisaliganj' 'Rosera' 'Solapur' 'Miryalaguda' 'Macherla'
 'Malur' 'Lumding' 'Kyathampalle' 'Puri' 'Shirpur-Warwade' 'Pali'
 'Kishanganj' 'Anantapur' 'Kathua' 'Bhiwandi' 'Punganur' 'Lar'
 'Jaggaiahpet' 'Jhumri Tilaiya' 'Unjha' 'Sirsaganj' 'Durg' 'Naugachhia'
 'Sujangarh' 'Jalpaiguri' 'Siliguri' 'Wani' 'Bhiwani' 'Warangal' 'Paithan'
 'Rudauli' 'Pondicherry' 'Kadiri' 'Samalkot' 'Asansol' 'Thodupuzha'
 'Ranebennuru' 'Bhawanipatna' 'Nongstoin' 'Narkatiaganj' 'Solan'
 'Mahbubnagar' 'Godhra' 'Dhamtari' 'Tirupati' 'Khammam' 'Rampura Phul'
 'Umarga' 'Tarakeswar' 'Sarni' 'Umaria' 'Sullurpeta' 'Nandura' 'Patna'
 'Kanpur' 'Paradip' 'Rameshwaram' 'Nohar' 'Una' 'Sultanganj'
 'Mandi Dabwali' 'Sherghati' 'Kothagudem' 'Uran Islampur' 'Mira-Bhayandar'
 'Mahidpur' 'Savanur' 'Jaipur' 'Vellore' 'Bagaha' 'Changanassery' 'Tirur'
 'Srikalahasti' 'Wanaparthy' 'Fazilka']
Date ------- <DatetimeArray>
['2014-10-29 00:00:00', '2014-08-22 00:00:00', '2014-08-27 00:00:00',
 '2014-04-12 00:00:00', '2015-05-05 00:00:00', '2014-09-08 00:00:00',
 '2015-02-24 00:00:00', '2014-06-26 00:00:00', '2014-03-28 00:00:00',
 '2014-09-01 00:00:00',
 ...
 '2014-07-30 00:00:00', '2014-11-23 00:00:00', '2014-04-08 00:00:00',
 '2014-08-10 00:00:00', '2015-05-04 00:00:00', '2014-12-13 00:00:00',
 '2015-03-22 00:00:00', '2014-01-25 00:00:00', '2014-05-09 00:00:00',
 '2014-07-10 00:00:00']
Length: 600, dtype: datetime64[ns]
Card Type ------- ['Gold' 'Platinum' 'Silver' 'Signature']
Exp Type ------- ['Bills' 'Food' 'Entertainment' 'Grocery' 'Fuel' 'Travel']
Gender ------- ['F' 'M']
Amount ------- [ 82475  32555 101738 ... 265019  88174 184410]
Month ------- ['October' 'August' 'April' 'May' 'September' 'February' 'June' 'March'
 'December' 'November' 'July' 'January']
Day ------- ['Wednesday' 'Friday' 'Saturday' 'Tuesday' 'Monday' 'Thursday' 'Sunday']

In [32]:
card.columns

Index(['City', 'Date', 'Card Type', 'Exp Type', 'Gender', 'Amount', 'Month',
       'Day'],
      dtype='object')

In [33]:
x= card[['City', 'Card Type', 'Exp Type', 'Gender', 
       'Month']]
y= card[['Amount']]

In [34]:
from sklearn.model_selection import StratifiedKFold, train_test_split
x_train, x_test, y_train, y_test= train_test_split(x,y,test_size= 0.2, random_state=42)

In [44]:
from sklearn.preprocessing import LabelEncoder
label_cols_x = ['City', 'Card Type', 'Exp Type', 'Gender', 'Month' ]
label_cols_y = ['Amount' ]
def label_encoder(train,test,columns):
    for col in columns:
        train[col] = train[col].astype(str)
        test[col] = test[col].astype(str)
        train[col] = LabelEncoder().fit_transform(train[col])
        test[col] =  LabelEncoder().fit_transform(test[col])
    return train, test

x_train ,x_test = label_encoder(x_train ,x_test ,label_cols_x)
y_train ,y_test = label_encoder(y_train ,y_test ,label_cols_y)